a, a:hover {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #677fb2;
}

.footer nav a {
	margin: 0 auto;
	color: #fff;
}

.footer nav a:hover {
	background-color: #4d5f86;
}